[Unit]
Description=Lock the screeen
Before=sleep.target

[Service]
User=%I
Environment=DISPLAY=:0
ExecStart=/usr/bin/xsecurelock

[Install]
WantedBy=sleep.target
